$container-width: 80%;
$pale-grey: #f2f2f2;
$purple: #2f00a2;

@mixin containerize {
    width: $container-width;
    margin: auto;
}

body {
    font-family: 'Mulish', Helvetica, sans-serif;
    background: #ffffff;
}

a {
    text-decoration: none;
    color: $purple;
}

h1, h2, h3, h4, h5, h6 {
    color: $purple;
}

.navbar {
    display: flex;
    flex-direction: row;
    @include containerize;
    background: $pale-grey;
    padding: 0px 20px 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include containerize;

    main {
        width: 700px;
    }

    .sidebar {
        margin-left: 20px;

        ul {
            list-style: none;
            padding: 0;
        }
    }
}

.footer {
    @include containerize;
    background: $pale-grey; 
    padding: 0px 10px 0px;
}

.post-title {
    font-size: 3.5em;
    text-align: center;
    margin-top: 0;
}

.post-date {
    text-align: center;
    color: $pale-grey;
}

.post-image {
    img {
        width: 100%;
    }
}

.post-body {
    font-size: 17px;
    line-height: 27.2px;
    font-weight: 300;
    
    h1, h2, h3, h4 {
        font-weight: 800;
    }

    blockquote {
        border-left: 2px red solid;
        padding-left: 20px;
        margin-left: 0;
    }
}